{{! Statistics Page }} 
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="css/stats.css">
  </head>
  
  <body>
    <header>
      <nav>
        <div class="nav-wrapper orange">
          <a href="#" class="brand-logo center">BookSprouts</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/stats">Statistics</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main>
      {{!-- Parallax --}}
      <div class="parallax-container z-depth-3">
        <div class="parallax">
          <img class="responsive-img" src="/parallax.avif">
        </div>
      </div>

      {{!-- Page Heading/Title with subheading --}}
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h1 class="center">Stats on Illiteracy</h1>
            <p class="flow-text center">Read these stats to learn more about the effects of Illiteracy in our world.</p>
          </div>
        </div>
      </div>
      
      

      {{!-- Illiteracy FIRST WORLD --}}
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h2 class="center">Illiteracy by First World Nations</h2>
            <p class="flow-text center">See how the United States' literacy rates compares to the rest of the developed world.</p>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <ul class="card">
              {{! Looping for each country in firstWorldCountries array of objs}}
              {{#each firstWorldCountries}}
                {{!-- "this" refers to the current country in the loop --}}
                {{!-- name.common accesses name, .population display population --}}
                <li>{{this.name.common}} - Population: {{this.population}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="col s12"></div>
            <img class="responsive-img" src="/usa-flag.webp" alt="United States of America flag">
            <figcaption class="center italic">U.S.A. Flag</figcaption>
          </figure>
        </div>
      </div>

      {{!-- Parallax --}}
      <div class="parallax-container z-depth-3">
        <div class="parallax">
          <img class="responsive-img" src="/parallax.avif">
        </div>
      </div>

      {{!-- Illiteracy BY STATE --}}
      <div class="container">
        <div class="row">
          <h2 class="center">Illiteracy by State</h2>
          <p class="flow-text center">Find out in which states illiteracy is most prevalent.</p>
        </div>
        <div class="row">
          <h3>States with Highest Illiteracy Rates</h3>
          <div class="col s12">
            <ul class="card">
              <li>California: 23.1% illiterate</li>
              <li>New York: 22.1% illiterate</li>
              <li>Florida: 19.7% illiterate</li>
              <li>Texas: 19.0% illiterate</li>
              <li>New Jersey: 16.9% illiterate</li>
              <li>Georgia: 16.7% illiterate</li>
              <li>New Mexico: 16.5% illiterate</li>
              <li>Nevada: 16.1% illiterate</li>
              <li>Louisiana: 16.0% illiterate</li>
              <li>Mississippi: 16.0% illiterate</li>
            </ul>
          </div>
          <figure class="col s12">
            <img class="responsive-img" src="/cali-flag.jpg" alt="California State Flag">
            <figcaption class="center">California State Flag</figcaption>
          </figure>
        </div>
      </div>

      {{!-- Parallax --}}
      <div class="parallax-container z-depth-3">
        <div class="parallax">
          <img class="responsive-img" src="/parallax.avif">
        </div>
      </div>

      <div class="container">
        <div class="row">
          <h3>States with Lowest Illiteracy Rates</h3>
          <div class="col s12">
            <ul class="card">
              <li>New Hampshire: 94.2% literate</li>
              <li>Minnesota: 94.0% literate</li>
              <li>North Dakota: 93.7% literate</li>
              <li>Vermont: 93.4% literate</li>
              <li>South Dakota: 93.0% literate</li>
              <li>Nebraska: 92.7% literate</li>
              <li>Wisconsin: 92.7% literate</li>
              <li>Maine: 92.6% literate</li>
              <li>Missouri: 92.5% literate</li>
              <li>Iowa: 92.5% literate</li>
            </ul>
          </div>
          <figure class="col s12">
            <img class="responsive-img" src="/new-hamp-flag.png" alt="New Hampshire State Flag">
            <figcaption class="center italic">New Hampshire State Flag</figcaption>
          </figure>
        </div>
      </div>
    </main>
    

    {{!-- Parallax --}}
      <div class="parallax-container z-depth-3">
        <div class="parallax">
          <img class="responsive-img" src="/parallax.avif">
        </div>
      </div>

    <footer class="page-footer blue">
      <div class="container">
        <p>&copy; 2025 BookSprouts | All Rights Reserved</p>
      </div>
    </footer>
    {{!-- JQuery: Compiled and Minified --}}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <script>
      $(document).ready(function () {
        $('.parallax').parallax();
      });
    </script>
  </body>
</html>