<footer>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="client/css/footer.css">
    <title>Document</title>
</head>
<body>
    <footer class="page-footer #fb8c00 orange darken-1">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Connect With Us: </h5>
              <ul class ="socials">
                <li class="" ><a href="#"><img src ="/img/facebook.svg"/></a></li>
                <li class=""><a href="#" ><img src ="/img/instagram.svg"/></a></li>
                <li class=""><a href="#" ><img src ="/img/pinterest.svg"/></a></li>
                <li class=""><a href="#" ><img src ="/img/twitter.svg"/></a></li>
              </ul>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">Home</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Statistics</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Quiz</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Books</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright #ef6c00 orange darken-3">
          <div class="center container">
          © 2025 Copyright
          <ul class="right">
            <li><a class="grey-text text-lighten-4 " href="#!">More Links</a></li>
            <li><a class="grey-text text-lighten-4 " href="#!">Terms of use</a></li>
          </ul>

          </div>
        </div>
      </footer>
        
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
</footer>