<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/css/footer.css">
    <title>Document</title>
</head>
  <!-- This file contains the footer partial for the website. It includes social media links, navigation links, and copyright information. -->
    <footer class="page-footer #fb8c00 orange darken-1">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <!-- Social Media Section -->
              <h5 class="white-text">Connect With Us: </h5>
              <ul class ="footer__social-icons">
                  <li><a href="https://www.facebook.com/"><img src ="/img/facebook.svg" alt="Follow us on Facebook"/></a></li>
                  <li><a href="https://www.instagram.com/" ><img src ="/img/instagram.svg" alt="Follow us on Instagram"/></a></li>
                  <li><a href="https://www.pinterest.com/" ><img src ="/img/pinterest.svg" alt="Follow us on Pinterest"/></a></li>
                  <li><a href="https://x.com/" ><img src ="/img/twitter.svg" alt="Follow us on X"/></a></li>
              </ul>
              <!-- Navigation Links -->
              <ul>
                 <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                 <li><a class="grey-text text-lighten-3" href="/stats">Statistics</a></li>
                 <li><a class="grey-text text-lighten-3" href="/quiz">Quiz</a></li>
                 <li><a class="grey-text text-lighten-3" href="/readinglevel">Books</a></li>
                 <li><a class="grey-text text-lighten-3" href="/audioliteracy">Audio Literacy</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright #ef6c00 orange darken-3">
          <div class="center container">
            <!-- Legal Section -->
          <ul class="legal">
            <li>© 2025 Copyright</li>
            <li><a class="grey-text text-lighten-4 ">Privacy Policy</a></li>
            <li><a class="grey-text text-lighten-4 ">Terms of use</a></li>
          </ul>
      </div>
    </div>
 </footer>
        
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</html>
