<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="/css/header.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav-wrapper #ffd600 yellow accent-4">
        <div class="container">
            <ul>
            <li class="left brand-logo"><a href="#" ><img src ="/img/logo.png"/></a></li>
            </ul>
            <!-- <a href="#" class="sidebar-trigger"></a> -->
            <ul class="brand-logo center #ffd600 yellow accent-4">
            <li class=""><a href="#">Home</a></li>
            <li class=""><a href="#">Stats</a></li>
            <li class=""><a href="#">Quiz</a></li>
            <li class=""><a href="#">Books</a></li>
          </ul>
        </div>
        <ul>
            <li class="right"><i class="material-icons account-icon">account_circle</i></li>
        </ul>
    </nav>