body {
  font-family: "Roboto", sans-serif;
  background: rgb(0, 186, 209);
  background: linear-gradient(
    180deg,
    rgba(0, 186, 209, 1) 31%,
    rgba(255, 255, 255, 1) 66%
  )
}
.main-content {
  margin: 30px;
  text-align: center;
}
h1 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 20px;
}
p {
  font-size: 1.2rem;
  color: #777;
  max-width: 800px;
  margin: 0 auto;
}
.select-grade-button {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 300px;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  margin: 10px auto;
  font-weight: 600;
  color: rgba(73, 1, 255, 0.859);
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-align: center;
  font-family: sans-serif;
}
.select-grade-button:hover {
  transform: translateY(-5px);
}

.select-grade-button:hover::after {
  content: '📚';
}

.select-grade-button:focus {
  outline: none;
}
.book-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Show 5 books per row */
  gap: 30px;
  margin-top: 30px;
}
.book-card {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  text-align: center;
  background: linear-gradient(135deg, #d6c718, #fffae6);
}
.book-card:hover {
  transform: translateY(-10px);
}
.book-card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
.book-card h3 {
  font-size: 1.5rem;
  color: #333;
  margin-top: 15px;
}
.book-card p {
  color: #555;
  font-size: 1rem;
  margin-top: 5px;
}
