body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0; 
}

main {
  flex:1;
}

footer {
  flex-shrink: 0; 
}

.socials {
  display: flex;
  justify-content: flex-start;
  gap: 10px; 
  list-style: none;
  padding: 0;
}


.socials img {
  height: 30px;
  width: 30px;
}

.legal{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 10px;
}



/* Responsive adjustments */
@media (max-width: 768px) { /* Tablet */
.socials {
    justify-content: center;
}

footer {
    text-align: center;
}
}

@media (max-width: 480px) { /* Mobile */
.socials {
    align-items: center;
}

footer ul {
    text-align: center;
}
}