* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.brand-logo img {
  height: 150px;
  width: 150px;
  vertical-align: middle;
  margin-top: -20px;
}

.account-icon {
  font-size: 100px;
}

nav.nav-wrapper {
  height: 112px;
  line-height: 80px;
}

.center-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.center-nav li a {
  font-size: 20px;
  font-weight: bold;
  color: black;
  transition: font-size 0.3s ease;
}
