.main {
  margin: 0;
  font-family: inter;
  background-color: rgba(0, 186, 209, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-bottom: 50px;
}
.hero-section {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(134, 232, 128, 1) 45%,
    rgba(0, 186, 209, 1) 85%
  );
  color: white;
  text-align: center;
  padding: 100px 20px;
  width: 100%;
  box-sizing: border-box;
}

.hero-section h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2rem;
  margin: 0 auto;
}

.hold {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  width: 90%;
  max-width: 1200px;
}

.header {
  grid-column: 1 / span 2;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 50px;
}

.header h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: rgba(0, 186, 209, 1);
}

.header p {
  font-size: 1.2em;
  color: #555;
  text-align: left;
}

.hold .card {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  margin: 0 0 10px 0;
  font-size: 1.5em;
  color: rgba(0, 186, 209, 1);
}

.card p {
  font-size: 1em;
  margin: 0 0 15px 0;
  color: #555;
}

.vertical-scroll {
  max-height: 200px;
  overflow-y: auto;
}

@media (max-width: 1200px) {
  .hero-section {
    padding: 80px 15px;
  }

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .hold {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .header {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .hold {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .hero-section {
    padding: 60px 10px;
  }

  .hero-section h1 {
    font-size: 1.8rem;
  }

  .hero-section p {
    font-size: 0.9rem;
  }

  .header h1 {
    font-size: 1.8em;
  }

  .header p {
    font-size: 1em;
  }

  .hold {
    gap: 10px;
  }

  .card {
    padding: 10px;
  }

  .card h2 {
    font-size: 1.3em;
  }

  .card p {
    font-size: 0.9em;
  }

  .vertical-scroll {
    max-height: 150px;
  }
}

@media (max-width: 480px) {
  .hero-section h1 {
    font-size: 1.5rem;
  }

  .hero-section p {
    font-size: 0.8rem;
  }

  .header h1 {
    font-size: 1.5em;
  }

  .header p {
    font-size: 0.9em;
  }

  .card h2 {
    font-size: 1.2em;
  }

  .card p {
    font-size: 0.8em;
  }

  .card audio {
    width: 100%;
  }

  .vertical-scroll {
    max-height: 120px;
  }
}
