body {
  font-family: "Roboto", sans-serif;
  background: rgb(0, 186, 209);
  background: linear-gradient(
    180deg,
    rgba(0, 186, 209, 1) 31%,
    rgba(255, 255, 255, 1) 66%
  );
  color: #333;
}
.main-content {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
}

h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 30px;
  font-family: museo-sans;
}

.intro-card {
  background-color: #fff;
  padding: 5px;
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.intro-card h2 {
  font-size: 1.8rem;
  color: #ff6f61;
  margin-bottom: 15px;
}

.intro-card p {
  font-size: 1.1rem;
  color: #333;
  line-height: 1.6;
}

#grade-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 20px;
}

.grade-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grade-image {
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.grade-button {
  display: block;
  width: 90%;
  max-width: 300px;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1.2rem;
  margin: 10px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-align: center;
  font-family: inter;
}

.grade-button:hover {
  background-color: #ff4f4f;
  transform: translateY(-5px);
}
.grade-button:focus {
  outline: none;
}

/* Tablets */
@media (max-width: 768px) {
  #grade-buttons {
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
    gap: 15px;
  }

  .grade-button {
    font-size: 0.9rem; /* Slightly smaller text */
    padding: 0.8em; /* Smaller padding */
  }
}

/* Mobile devices */
@media (max-width: 480px) {
  #grade-buttons {
    grid-template-columns: 1fr; /* 1 item per row */
    gap: 10px;
  }

  .grade-button {
    font-size: 0.8rem; /* Smaller text */
    padding: 0.6em;
  }

  .grade-image {
    width: 80%; /* Make images smaller */
  }
}
